<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header survey-sheet-header">
          <div>
            <h4 class="card-title">{{title}}</h4>
          </div>
          <div class="survey-sheet-header-right">
            <button class="btn btn-info" *ngIf="action == 'answer'" (click)="submitSurvey()" [disabled]="!validateAllInputs()">Submit</button>
            <!-- <button class="btn btn-info" *ngIf="action == 'result' && userService.getRoleId() == '2'" (click)="print()">Print</button> -->
            <button class="btn btn-primary" (click)="onBackButtonClicked()">Back</button>
          </div>
        </div>
        <div class="card-body to-print" *ngIf="isReady">
          <div class="section" *ngIf="userService.getRoleId() != '3'">
            <strong>Num. of Students that submitted:&nbsp;</strong>{{numOfStudents}}
          </div>
          <div class="section" *ngFor="let section of sections">
            <span><strong>{{sections.indexOf(section) + 1}}.<span style="color: red" *ngIf="action == 'answer'">*</span> {{section.title}}</strong></span>
            <div class="question">
              <span class="content"></span>
              <span *ngFor="let idx of criterias">
                <strong>{{idx}}</strong>
              </span>
            </div>
            <div class="question" *ngFor="let question of section.fields">
              <span class="content">{{question.title}}</span>
              <span *ngFor="let idx of cols">
              <!-- <span *ngFor="let idx of [1, 2, 3, 4, 5]"> -->
                <input *ngIf="action == 'answer'" type="radio"
                  name="{{getAllFirstLetters(section.title + ' ' + question.title) + sections.indexOf(section) + 1}}"
                  [(ngModel)]="question.value" [value]="idx">
                <span *ngIf="action == 'result'">
                  {{ getValueFromIdx(question.value, idx) }}
                </span>
              </span>
            </div>
          </div>
          <div class="section" *ngIf="userService.getRoleId() == '3'">
            <span><strong>Add comment</strong></span>
            <textarea [(ngModel)]="comment">Enter your comment here...</textarea>
          </div>
          <div class="section" *ngIf="userService.getRoleId() != '3'">
            <span><strong>Comments by students</strong></span>
            <br>
            <span style="padding: 0.5em;" *ngFor="let comment of comments">
              <i>- {{comment}}</i>
              <br>
            </span>
          </div>
          <div class="section" *ngIf="userService.getRoleId() != '3'">
            <span><strong>Notes</strong></span>
            <br>
            <span style="padding: 0.5em;">
              <strong>M:&nbsp;</strong>
              <span>Giá trị trung bình của các tiêu chí theo lớp học phần</span>
            </span>
            <br>
            <span style="padding: 0.5em;">
              <strong>STD:&nbsp;</strong>
              <span>Độ lệch chuẩn các giá trị trung bình của các tiêu chí theo lớp học phần</span>
            </span>
            <br>
            <span style="padding: 0.5em;">
              <strong>M1:&nbsp;</strong>
              <span>Giá trị trung bình của các tiêu chí dựa trên dữ liệu phản hồi của sinh viên cho các giảng viên dạy cùng môn học với thầy cô</span>
            </span>
            <br>
            <span style="padding: 0.5em;">
              <strong>STD1:&nbsp;</strong>
              <span>Độ lệch chuẩn các giá trị trung bình của các tiêu chí dựa trên dữ liệu phản hồi của sinh viên cho các giảng viên dạy cùng môn học với thầy cô</span>
            </span>
            <br>
            <span style="padding: 0.5em;">
              <strong>M2:&nbsp;</strong>
              <span>Giá trị trung bình của các tiêu chí dựa trên ý kiến phản hồi của sinh viên về các môn học mà thầy/cô đã thực hiện giảng dạy</span>
            </span>
            <br>
            <span style="padding: 0.5em;">
              <strong>STD2:&nbsp;</strong>
              <span>Độ lệch chuẩn các giá trị trung bình của các tiêu chí dựa trên ý kiến phản hồi của sinh viên về các môn học mà thầy/cô đã thực hiện giảng dạy</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>