.my-drop-zone {
    border: dotted 3px #9A9A9A;
    height: calc(100% - 69px);
}

.nv-file-over {
    border: dotted 3px red;
}

.item-upload {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold
}

.upload-button-as-text {
    font-size: 14px !important;
    display: inline-block;
    border: none;
    outline: 0;
    cursor: pointer;
    font-weight: 600;
    padding: 0 2px;
    input {
        display: none;
    }
}

table.file-upload-table {
    table-layout: fixed !important;
}

.file-uploader-header {
    display: flex;
    align-items: baseline;
    .file-uploader-header-right {
        margin-left: auto;
        order: 2;
    }
}