<div class="change-password-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="./assets/img/logo250x250.png" width="150px" class="user-avatar" />
      <h1>Class Survey</h1>
      <form role="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-content">
          <div class="form-group">
            <input type="password" [(ngModel)]="oldPassword" formControlName="oldPassword"
              [ngClass]="{ 'is-invalid': isSubmitted && formCtrl.oldPassword.errors }"
              class="form-control input-underline input-lg"
              placeholder="Old password">
            <div *ngIf="isSubmitted && formCtrl.oldPassword.errors" class="invalid-feedback">
                <div *ngIf="formCtrl.oldPassword.errors.required">Old password is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="newPassword" formControlName="newPassword"
              [ngClass]="{ 'is-invalid': isSubmitted && formCtrl.newPassword.errors }"
              class="form-control input-underline input-lg"
              placeholder="New password" required>
            <div *ngIf="isSubmitted && formCtrl.newPassword.errors" class="invalid-feedback">
                <div *ngIf="formCtrl.newPassword.errors.required">New password is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="newPasswordRetype" formControlName="newPasswordRetype"
              [ngClass]="{ 'is-invalid': isSubmitted && formCtrl.newPasswordRetype.errors }"
              class="form-control input-underline input-lg"
              placeholder="Retype new password" required>
            <div *ngIf="isSubmitted && formCtrl.newPasswordRetype.errors" class="invalid-feedback">
                <div *ngIf="formCtrl.newPasswordRetype.errors.required">Retyping new password is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-1">
            <button type="submit" class="btn rounded-btn"> Change password </button>
          </div>
          <div class="col-md-6 pl-1">
            <button class="btn rounded-btn" (click)="onBackButtonClicked()"> Back </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>