<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header survey-manager-header">
          <div>
            <h4 class="card-title">Survey Manager</h4>
          </div>
          <div class="survey-manager-header-right" *ngIf="userService.getRoleId() == '1'">
            <button class="btn btn-success" [routerLink]="['/import-excel', 'surveys']">Import from Excel</button>
            <!-- <button class="btn btn-info add-survey-btn" [routerLink]="['/survey-manager/new']">Add survey</button>
            <button class="btn btn-success">Generate survey sheet template</button> -->
          </div>
        </div>
        <div class="card-body">
          <app-data-manager #surveyManager *ngIf="isReady && data.length"
            [columns]="columns" [data]="data" [type]="'surveys'"
            (childEventEdit)="editSurveyInfo($event)"
            (childEventView)="viewSurveyInfo($event)"
            (childEventRemove)="removeSurveyInfo($event)">
          </app-data-manager>
          <div *ngIf="isReady && !data.length">
            <i style="text-align: center;">No survey found</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>