<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header survey-component-header">
          <div>
            <h4 class="card-title">{{title}}</h4>
          </div>
          <div class="survey-component-header-right">
            <button class="btn btn-info" type="submit" form="surveyForm" *ngIf="title == 'Edit Survey'">Save</button>
            <button class="btn btn-info" *ngIf="title == 'Survey Result'" (click)="onPrintButtonClicked()">Print</button>
            <button class="btn btn-primary" (click)="onBackButtonClicked()">Back</button>
          </div>
        </div>
        <div class="card-body" *ngIf="isReady">
          <form id="surveyForm" role="form" [formGroup]="surveyForm" (ngSubmit)="onSubmit()" *ngIf="title == 'Edit Survey'">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Subject Name</label>
                  <input type="text" class="form-control" placeholder="Enter subject name" [(ngModel)]="subjectName"
                  formControlName="subjectName" [ngClass]="{ 'is-invalid': isSubmitted && formCtrl.subjectName.errors }">
                  <div *ngIf="isSubmitted && formCtrl.subjectName.errors" class="invalid-feedback">
                    <div *ngIf="formCtrl.subjectName.errors.required">Subject name is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Subject ID</label>
                  <input type="text" class="form-control" placeholder="Enter subject ID" [(ngModel)]="subjectId"
                  formControlName="subjectId" [ngClass]="{ 'is-invalid': isSubmitted && formCtrl.subjectId.errors }">
                  <div *ngIf="isSubmitted && formCtrl.subjectId.errors" class="invalid-feedback">
                    <div *ngIf="formCtrl.subjectId.errors.required">Subject ID is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Deadline</label>
                  <input
                    class="form-control"
                    [(ngModel)]="deadline"
                    #dpMDY="bsDatepicker"
                    bsDatepicker
                    formControlName="deadline"
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Semester</label>
                  <ngx-select-dropdown [multiple]="false" [(value)]="selectedSemester"
                    [config]="config" [options]="semesterOptions">
                  </ngx-select-dropdown>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Survey Template</label>
                  <ngx-select-dropdown [multiple]="false" [(value)]="selectedTemplate"
                    [config]="config" [options]="templateOptions">
                  </ngx-select-dropdown>
                </div>
              </div>
            </div>
          </form>
          <app-data-manager *ngIf="title != 'Edit Survey'"
            [columns]="columns" [data]="data" [type]="'students'">
          </app-data-manager>
        </div>
      </div>
    </div>
  </div>
</div>