<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header template-manager-header">
          <div>
            <h4 class="card-title">Template Manager</h4>
          </div>
          <div class="template-manager-header-right">
            <button class="btn btn-info new-template-btn" [routerLink]="['/template-manager', 'new']">New template</button>
          </div>
        </div>
        <div class="card-body">
          <app-data-manager #templateManager
            [columns]="columns" [data]="data" [type]="'templates'"
            (childEventEdit)="editTemplate($event)"
            (childEventView)="viewTemplate($event)"
            (childEventRemove)="removeTemplate($event)">
          </app-data-manager>
        </div>
      </div>
    </div>
  </div>
</div>