<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Lecturer Manager</h4>
        </div>
        <div class="card-body">
          <app-user-manager
            [columns]="columns" [data]="data"
            (childEventEdit)="editLecturerInfo($event)"
            (childEventRemove)="removeLecturerInfo($event)">
          </app-user-manager>
        </div>
      </div>
    </div>
  </div>
</div>