<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header lecturer-manager-header">
          <div>
            <h4 class="card-title">Lecturer Manager</h4>
          </div>
          <div class="lecturer-manager-header-right">
            <button class="btn btn-info add-lecturer-btn" [routerLink]="['/lecturer-manager', 'new']">Add lecturer</button>
            <button class="btn btn-success add-lecturer-btn" [routerLink]="['/import-excel', 'lecturers']">Import from Excel</button>
          </div>
        </div>
        <div class="card-body">
          <app-data-manager #lecturerManager *ngIf="isReady && data.length"
            [columns]="columns" [data]="data" [type]="'lecturers'"
            (childEventEdit)="editLecturerInfo($event)"
            (childEventView)="viewLecturerInfo($event)"
            (childEventRemove)="removeLecturerInfo($event)">
          </app-data-manager>
          <div *ngIf="isReady && !data.length">
            <i style="text-align: center;">No lecturer found</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>